[submodule "nvim"]
	path = nvim
	url = https://git.palko.ca/baobeld/nvim.git
[submodule "ags"]
	path = ags
	url = https://git.palko.ca/baobeld/ags.git
[submodule "lux-shell"]
	path = quickshell
	url = https://git.palko.ca/baobeld/lux-shell.git
