/*
* Color Palette
*/
@import url("../../.cache/wal/colors-waybar.css");

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "JetBrains Mono", "Iosevka Nerd Font", FontAwesome, Roboto,
    Helvetica, Arial, sans-serif;
  text-shadow: none;
  transition: color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  font-size: 16px;
}

@define-color button @color1;
@define-color button-hover @color3;
@define-color button-active @color2;

/*
* General
*/
@import url("./styles/waybar.css");

/*
 * Workspaces
 */
#workspaces {
  border-radius: 9999px;
  background: @button;
}

#workspaces button {
  padding: 0 9px 0 4px;
  box-shadow: none;
  border: none;
  border-radius: 9999px;
  color: @color7;
  font-size: 24px;
}

#workspaces button.active {
  color: @button-active;
}

#workspaces button:hover {
  background: transparent;
  color: @button-hover;
}

#workspaces button.focused {
  color: @button-active;
}

#workspaces button.urgent {
  color: #bf616a;
}

/*
* Modules 
*/
#cpu,
#memory,
#network,
#temperature {
  color: @color7;
}

#clock,
#idle_inhibitor,
#mpris,
#custom-swaync,
#wireplumber,
#custom-swww,
#custom-os {
  background: @button;
}

#clock:hover,
#idle_inhibitor:hover,
#mpris:hover,
#custom-swaync:hover,
#wireplumber:hover,
#custom-swww:hover,
#custom-os:hover {
  background: @button-hover;
}

#idle_inhibitor.activated {
  background-color: @button-active;
}

#idle_inhibitor {
  padding: 0 16px 0 12px;
}

#mpris.spotify {
  background-color: #1db954;
}

#network.disconnected {
  color: #f53c3c;
}

#temperature.critical {
  color: #bf616a;
}

#wireplumber.muted {
  color: #f53c3c;
}

#custom-swww {
  padding: 0 16px 0 8px;
  font-size: 18px;
}

#custom-os {
  padding: 0 12px 0 6px;
  font-size: 24px;
}
