* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/*
* General 
*/
@import url('./styles/waybar.css');
@import url('./styles/animations.css');
@import url('./styles/common.css');

/*
* Modules 
*/
@import url('./styles/modules/clock.css');
@import url('./styles/modules/cpu.css');
@import url('./styles/modules/idle.css');
@import url('./styles/modules/memory.css');
@import url('./styles/modules/network.css');
@import url('./styles/modules/spotify.css');
@import url('./styles/modules/temperature.css');
@import url('./styles/modules/tray.css');
@import url('./styles/modules/wireplumber.css');
@import url('./styles/modules/workspaces.css');

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

