#idle_inhibitor {
  padding: 0 16px 0 12px;
  background-color: @button;
}

#idle_inhibitor:hover {
  background-color: @button-hover;
}

#idle_inhibitor.activated {
  background-color: @button-active;
}
