
#workspaces {
  padding: 0;
  /* border: 2px solid @color4;  */
}

#workspaces button {
  padding: 0 9px 0 4px;
  box-shadow: none;
  border: none;
  border-radius: 9999px;
  color: @color2;
}

#workspaces button.active {
  color: @color5;
}

#workspaces button:hover {
  background: transparent;
  color: @color5;
}

#workspaces button.focused {
  color: @color4;
}

#workspaces button.urgent {
  color: #bf616a;
}

