
#workspaces {
  padding: 0;
  border: 2px solid @color4; 
}

#workspaces button {
  padding: 0 4px;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

#workspaces button:first-child {
  padding-left: 8px;
  border-radius: 9999px 0 0 9999px;
}

#workspaces button:last-child {
  padding-right: 8px;
  border-radius: 0 9999px 9999px 0;
}

#workspaces button.active {
  background: @color4;
}

#workspaces button:hover {
  background: @color4;
}

#workspaces button.focused {
  background-color: @color5;
}

#workspaces button.urgent {
  background-color: #bf616a;
}

