#workspaces {
  padding: 0;
  /* border: 2px solid @color4;  */
}

#workspaces button {
  padding: 0 9px 0 4px;
  box-shadow: none;
  border: none;
  border-radius: 9999px;
  color: @button;
  font-size: 24px;
}

#workspaces button.active {
  color: @button-active;
}

#workspaces button:hover {
  background: transparent;
  color: @button-hover;
}

#workspaces button.focused {
  color: @button-active;
}

#workspaces button.urgent {
  color: #bf616a;
}
