/**
 * @name Pywal
 * @author Baobeld
 * @description Uses pywal colors
 * @version 0.0.2
 */
@import url("/home/benjamin/.cache/wal/colors.css");

:root {
  background-color: transparent;
  /* opacity: 0.6; */
  --background-primary: transparent;
  --background-primary-alt: transparent;
  --background-secondary: rgba(0, 0, 0, 0.05);
  --background-secondary-alt: rgba(0, 0, 0, 0.05);
  --background-tertiary: rgba(0, 0, 0, 0.1);
  --background-tertiary-alt: rgba(0, 0, 0, 0.1);
  --bg-overlay-2: rgba(0, 0, 0, 0.1);
  --scrollbar-auto-track: rgba(0, 0, 0, 0.1);

  --scrollbar-auto-thumb: rgba(0, 0, 0, 0.75);

  --primary-800: rgba(0, 0, 0, 0.15);
  /* --interactive-active: var(--color7); */
  /* --interactive-hover: var(--color7); */
  /* --interactive-muted: var(--color7); */
  /* --interactive-normal: var(--color7); */
}

.userProfileOuterUnthemed__9741c {
  background-color: rgba(0, 0, 0, 0.1);
}

.userPanelInnerThemed__651e4 {
  background: rgba(0, 0, 0, 0.2);
}

.themedBackground__3a4c0 {
  background: rgba(0, 0, 0, 0.25);
}
