/** ********** Fonts ********** **/
* {
  font-family: "JetBrains Mono", "Iosevka Nerd Font", archcraft, sans-serif;
  font-size: 12px;
}

@import url('../../.cache/wal/colors-waybar.css');

#window {
  background-color: --background;
  color: --color2;
  border: 2px solid --color4;
  border-radius: 6px;
}

#outer-box {
  padding: 20px;
}

#input {
  background-color: var(--color5);
  border: 0px solid --color2;
  padding: 8px 12px;
  opacity: 0.8;
}

#scroll {
  margin-top: 20px;
}

#inner-box {
  opacity: 0.8;
}

#img {
  padding-right: 8px;
}

#text {
  color: --wofi-color2;
}

#text:selected {
  color: --wofi-color0;
}

#entry {
  padding: 6px;
}

#entry:selected {
  background-color: @color7;
  color: --wofi-color0;
}

#unselected {
}

#selected {
}

#input,
#entry:selected {
  border-radius: 4px;
}
