/*
* Modules groups
*/
.modules-left {
  padding: 0 2px 0 2px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.66);
  margin-left: 15px;
}

.modules-center {
  padding: 0 2px 0 2px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.66);
}

.modules-right {
  padding: 0 2px 0 2px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.66);
  margin-right: 15px;
}

/*
* Module widgets
*/
.modules-left > widget {
}

.modules-left > widget:first-child {
}

.modules-left > widget:last-child {
}
.modules-right > widget {
}

.modules-right > widget:first-child {
}

.modules-right > widget:last-child {
}


